<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <mat-form-field appearance="fill">
    <mat-label>What breed to show?</mat-label>
    <mat-select required>
      <mat-option [value]="['all_breeds']">
        All breeds
      </mat-option>
      <mat-option *ngFor="let breed of breeds" [value]="breed.id">
        {{breed.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>How many cats to show?</mat-label>
    <mat-select required>
      <mat-option *ngFor="let numb of limit" [value]="numb">
        {{numb}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="accent">Show cats!</button>
</form>

<div *ngIf="cats.length">
  <div *ngFor="let cat of cats">
    <mat-card>
      <mat-card-header></mat-card-header>
      <mat-card-content>
        <img [src]="cat.url" mat-card-image>
      </mat-card-content>
    </mat-card>
  </div>
</div>
